<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Tadjourah
      </ion-title>
    </ion-toolbar>
    
</ion-header>
  <ion-content>
    <ion-img src="/assets/djib/tadjourah.jpg"></ion-img>
    <ion-card-header>
      La Region de Tadjourah
    </ion-card-header>
    <ion-card-content>
        La région de Tadjourah, avec une superficie de 7 300 km² et une population estimée à 86 704 habitants,
         est située au nord de Djibouti. La région est bordée par l'Éthiopie à l’ouest 
         et l'Érythrée au nord/nord-ouest, la région d'Obock au nord-est,
         les régions de Dikhil et d'Arta au sud et par la mer à l’est.
          </ion-card-content>
    <ion-card>
      <ion-card-header>
          Quelquess Faits
      </ion-card-header>
      <ion-card-content>
        <p>La capitale de la région, qui abrite plus de la moitié de sa population, est la ville portuaire de 
          Tadjourah. Les autres villes sont Randa, Adaylou,Sagallou Dorra et Balha. Le lac Assal se trouve 
          dans le sud de la région. 
          Le Parc national de la Forêt de Day est une des richesses naturelles de la zone.</p>  
          <p>
              Cet ancien district possède des atouts en matière de tourisme et de commerce. 
              Il exporte du sel, l’une des rares ressources naturelles du pays. 
              Il disposera bientôt d’un port moderne, complémentaire à celui de Djibouti et les activités 
              de pêche sont en pleine croissance.
               Presque 65 % de sa superficie est cultivable
          </p> 
          <p>
              L'un des premiers Français à y travailler fut le poète Arthur Rimbaud, devenu commerçant, 
              qui y séjourna de 1885 à 1886. Il fut notamment le patron d'un bateau transportant des armes destinées 
              à être vendues au roi du Choa, cousin du père du futur empereur éthiopien Hailé Sélassié. 
              Parmi les villages de la région de Tadjourah on compte Kalaf, Sagalou et Hankatta.
          </p>      
           <ion-card>
          <div class="container">
            <h2>Info sur Tadjourah la Ville Blanche</h2>
            <ul class="responsive-table">
              
              <li class="table-row">
                <div class="col col-1" >population</div>
                <div class="col col-2" >86704</div> 
              </li>
              <li class="table-row">
                <div class="col col-1" >Densité</div>
                <div class="col col-2" >12 hab /km 2</div>
                
              <li class="table-row">
                <div class="col col-1" >Superficie</div>
                <div class="col col-2" >7300 km2</div>
            
              </li>
              
            
            </ul>
          </div>
        </ion-card>
      </ion-card-content>
    </ion-card>
    

    </ion-content>
      
    
  
  
  
  
