<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Arta
    </ion-title>
  </ion-toolbar>
  <ion-img src="/assets/djib/artaplage.jpg"></ion-img>
  <ion-card-header>
    La Region d'Arta
  </ion-card-header>
  <ion-card-content>
    La région d'Arta est une entité administrative située au centre de la République de Djibouti. Elle a été créée en 2004 officiellement par le regroupement de districts des régions de Dikhil et Djibouti ville. Elle abrite 46 041 habitants.

    Sa capitale est Arta, à 42 km de la ville de Djibouti.
    
  </ion-card-content>
  <ion-card>
    <ion-card-header>
      Volcanologie
    </ion-card-header>
    <ion-card-content>
      En 1972, un réseau de détection sismisme est installé par l'Institut de physique du globe de Paris (IPGP), trois stations sont créées à Arta, Tadjourah, Atar. En 1996, la stationGeoscope est déplacée à Arta tunnel en même temps que la station 3 composante d'Arta (ARO devient ATD).

      Aujourd'hui, l'observatoire géophysique d'Arta est opéré conjointement par l'IPGP, le ministère djiboutien de l'enseignement supérieur supérieur et de la recherche et le Centre d'étude et de recherche de Djibouti.
      <ion-card>
        <div class="container">
          <h2>Village <small>autour Arta</small></h2>
          <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">Village</div>
              <div class="col col-2">population</div>
           
            </li>
            <li class="table-row">
              <div class="col col-1" >Arta</div>
              <div class="col col-2" >13010</div> 
            </li>
            <li class="table-row">
              <div class="col col-1" >Oueah</div>
              <div class="col col-2" >3167</div>
              
            <li class="table-row">
              <div class="col col-1" >Loyada</div>
              <div class="col col-2" >1267</div>
          
            </li>
            
            <li class="table-row">
              <div class="col col-1" >Chabelley</div>
              <div class="col col-2" >723</div>
            </li>
            <li class="table-row">
              <div class="col col-1" >Damerjog</div>
              <div class="col col-2" >600</div>
            
            </li>
            
          </ul>
        </div>
      </ion-card>
    </ion-card-content>
  </ion-card>
  
    
  
</ion-header>



