<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Djibouti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card class="welcome-card">
      <ion-img src="/assets/djib/djib.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenu dans La Region de Djibouti </ion-card-subtitle>
        <ion-card-title> Djibouti</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         
        <p><strong>Djibouti</strong>&nbsp;Djibouti (auparavant « district de Djibouti ») est la capitale de la République de Djibouti et l'une des six divisions administratives régionales du pays. S'étendant sur une superficie de 630 km2, la ville de Djibouti est peuplée en 2013 d’environ 570 000 habitants, soit plus des deux tiers de la population totale du pays.</p>

        <p>>Fondés en 1888 sous domination française, la ville de Djibouti et son port occupent une situation stratégique au sud de la mer Rouge, principal accès à la mer de l'Éthiopie depuis 1998. Depuis sa fondation, la ville accueille une grande partie de la population du territoire et abrite ses principales activités économiques et culturelles.</p>
   
      </ion-card-content>
    </ion-card>
    
    

      <ion-card>
        <img src="/assets/djib/city.jpg"/>
        <div class="card-title">La ville</div>
        <div class="card-subtitle">Une vue aerienne de la ville de Djibouti</div>
      </ion-card>
    
      <ion-card>
        <img src="/assets/djib/culture.jpg"/>
        <div class="card-title">People</div>
        <div class="card-subtitle">Representation des trois culture Djiboutienne</div>
      </ion-card>
    
      <ion-card>
        <img src="/assets/djib/placemh.jpg"/>
        <div class="card-title">La place Mahamoud Harbi</div>
        <div class="card-subtitle">La place Centrale</div>
      </ion-card>
    
      <ion-card>
        <img src="/assets/djib/doraleh.jpg"/>
        <div class="card-title">Plage de Doraleh</div>
        <div class="card-subtitle">Une des plage de Djibouti</div>
      </ion-card>
    
      <ion-card>
          <ion-header>
            Un peu d'histoire
          </ion-header>
          <p>L'échange de notes franco-britanniques des 2 et 9 février 1888 fixe la limite territoriale entre les colonies des deux pays. Il laisse explicitement sous autorité française les côtes méridionales du golfe de Tadjoura, y compris une presqu’île composée de plateaux insubmersibles, le ras Djibouti. C'est alors que ce point commence à être utilisé comme départ pour des caravanes vers Harar. Une petite ville y est fondée en 1888, protégée par des troupes « sénégalaises » et sous l'autorité d'un fils du notable Abu Bakr Burhan. Elle se développe rapidement, passant de 1 200 habitants en 1893 à 5 561 en 1906.</p>
      
          <p>Le port de Djibouti devient une escale des Messageries maritimes sur la route entre la France, Madagascar et l'Indochine en novembre 1895. Le chef-lieu de la colonie y est transféré officiellement depuis Obock en mars 1896, à l'occasion de la création de la Côte française des Somalis. Djibouti devient le point de départ du Chemin de fer djibouto-éthiopien qui va jusqu'à Addis-Abeba, capitale de l'Éthiopie, construit par des sociétés françaises entre 1897 et 1917.</p>
          
          <p>Sa situation géographique est aussi utilisée pour le commerce des armes, activité répandue dans le golfe d'Aden et en Somalie. Le gouvernement français s'engage en 1909 aux côtés du Royaume-Uni et de l'Italie contre les ventes illégales.</p>
          
          <p> En 1939, la population de la ville est de 16 000 habitants, avant de descendre à 6 000 en 1942 à la suite des expulsions réalisées par l'administration qui organise un rationnement alimentaire. En 1966, la population de Djibouti est estimée à 60 000 personnes, pour croitre à 150 000 habitants après l'indépendance, en 1983.</p>
        </ion-card>
        
        <ion-card>
          <p>La ville de Djibouti comprend trois communes&nbsp;:</p>
      <ul>
      <li>la commune de Ras-Dika dont le territoire correspond au&nbsp;<abbr class="abbr" title="Sixi&egrave;me">6<sup>e</sup></abbr>&nbsp;arrondissement&nbsp;;</li>
      <li>la commune de Boulaos regoupe les&nbsp;<abbr class="abbr" title="Premier">1<sup>er</sup></abbr>,&nbsp;<abbr class="abbr" title="Deuxi&egrave;me">2<sup>e</sup></abbr>&nbsp;et&nbsp;<abbr class="abbr" title="Troisi&egrave;me">3<sup>e</sup></abbr>&nbsp;arrondissements&nbsp;;</li>
      <li>la commune de Balbala regroupe les&nbsp;<abbr class="abbr" title="Quatri&egrave;me">4<sup>e</sup></abbr>&nbsp;et&nbsp;<abbr class="abbr" title="Cinqui&egrave;me">5<sup>e</sup></abbr>&nbsp;arrondissements</li>
      </ul>
        </ion-card>
      
</ion-content>
