<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Djibouti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/djib/aska.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenu dans La Region d’Ali-Sabieh </ion-card-subtitle>
        <ion-card-title> Djibouti</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p> La région d’Ali-Sabieh, située au sud-est de la République de Djibouti, occupe une superficie de 2 400 km2 avec une population estimée à 94 459 habitants, dont trois camps de réfugiés venus de Somalie. </p>
      <p>Les perspectives de développement de cette région reposent sur les activités liées au chemin de fer djibouto-éthiopien, l'exploitation des matériaux de construction (cimenterie) et le stockage des marchandises en transit vers l'Éthiopie. La ville d'Ali Sabieh connait un essor économique important avec l'industrialisation de la région. Deuxième centre économique du pays, Ali Sabieh attire les investisseurs djiboutiens.</p>
      </ion-card-content>
    </ion-card>
    
    
</ion-content>
