<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Dikhil
      </ion-title>
    </ion-toolbar>
    
</ion-header>
  <ion-content>
    <ion-img src="/assets/djib/dikhil.JPG"></ion-img>
    <ion-card-header>
      La Region de Dikhil
    </ion-card-header>
    <ion-card-content>
        La région de Dikhil est une région située au sud-ouest de la république de Djibouti. Elle possède une superficie de 7 200 km2 et une population estimée à 88 948 habitants. Cet ancien district a longtemps bénéficié des retombées du commerce frontalier. 
        Une agriculture de type maraîchère tend à se développer ces dernières années.  
          </ion-card-content>
    <ion-card>
      <ion-card-header>
          Historique
      </ion-card-header>
      <ion-card-content>
        <p>Alors que la région est érigée en « poste administratif de Gobad-Dikkil » dès le 25 mars 1927, 
          c'est seulement le 21 décembre 1927 qu'un détachement part de Djibouti pour reconnaître la région de « Dekkel et Gobad »,
          dirigé par l'administrateur Arthur Diderrich. À la suite de cette mission,
           un poste militaire et administratif est installé au lieu-dit Dikhil le 26 mars 1928.</p>  
          <p>
              Devenue un poste rattaché au « cercle des Adaels » le 24 décembre 1930, la circonscription devient 
              un cercle autonome le 9 avril 1931. Elle comprend alors tout le Sud de la colonie, 
              de la frontière éthiopienne à celle du Somaliland.
          </p> 
          <p>
              Le 19 janvier 1939 est créé un « cercle d'Ali Sabieh » sur la partie orientale de celui de Dikhil. 
              Après plusieurs évolutions, cette partie devient définitivement une entité propre à partir de 1958
               avec la nomination d'un administrateur spécifique. La région de Dikhil
               prend alors l'apparence qu'elle conserve jusqu'à la création de la région d'Arta en 2002.
          </p>      
           <ion-card>
          <div class="container">
            <h2>Info sur Dhikil la ville de l'unité</h2>
            <ul class="responsive-table">
              
              <li class="table-row">
                <div class="col col-1" >population</div>
                <div class="col col-2" >88948</div> 
              </li>
              <li class="table-row">
                <div class="col col-1" >Densité</div>
                <div class="col col-2" >12 hab /km 2</div>
                
              <li class="table-row">
                <div class="col col-1" >Superficie</div>
                <div class="col col-2" >7200 km2</div>
            
              </li>
              
            
            </ul>
          </div>
        </ion-card>
      </ion-card-content>
    </ion-card>
    

    </ion-content>
      
    
  
  
  
  
