<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Obock
      </ion-title>
    </ion-toolbar>
    
</ion-header>
  <ion-content>
    <ion-img src="/assets/djib/obock.jpg"></ion-img>
    <ion-card-header>
      La Region d'Obock
    </ion-card-header>
    <ion-card-content>
        La région d’Obock est une zone administrative, située au nord-est de la République de Djibouti sur le littoral occidental du détroit de Bab-el-Mandeb. 
        Elle couvre une superficie de 5 700 km2 pour une population estimée à 37 856 habitants.
        Son chef lieu est le port d'Obock.

Une partie des activités du port de Djibouti comme le transbordement sera délocalisée dans la ville qui est le chef-lieu de cet ancien district.
          </ion-card-content>
    <ion-card>
      <ion-card-header>
          Historique
      </ion-card-header>
      <ion-card-content>
        <p>La région d'Obock devient une entité administrative distincte en mars 1927. C'est alors un poste administratif. Il disparaît dans le cercle des Adaels administré depuis Tadjourah en 1929, pour en devenir un poste en 1931. Brièvement élevé au rang de cercle durant la Seconde Guerre mondiale, il redevient formellement autonome en 1963. Ses limites ont très peu varié dans le temps, elles n'ont pas été modifiées depuis 1939.

            Après l'indépendance, la zone prend le nom de district puis de région.</p>  
         
           <ion-card>
          <div class="container">
            <h2>Info sur Obock</h2>
            <ul class="responsive-table">
              
              <li class="table-row">
                <div class="col col-1" >Population</div>
                <div class="col col-2" >37856</div> 
              </li>
              <li class="table-row">
                <div class="col col-1" >Densité</div>
                <div class="col col-2" >6.6 hab /km 2</div>
                
              <li class="table-row">
                <div class="col col-1" >Superficie</div>
                <div class="col col-2" >5700 km2</div>
            
              </li>
              
            
            </ul>
          </div>
        </ion-card>
      </ion-card-content>
    </ion-card>
    

    </ion-content>
      
    
  
  
  
  
