<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     THE DOD 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/djib/flag.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenu dans DoD </ion-card-subtitle>
        <ion-card-title>District Of Djibouti</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cette Application est destinée au touriste et a toute autre personne désirant connaitre Djibouti. </p>
        <p>Vous y retrouverez l'enssemble des Regions de Djibouti avec des Texte explicatif et des illustration</p>
        <ion-card-title>Description</ion-card-title>
        <p>
        Dans le menu a gauche vous trouverez la liste des District.

      </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <p>Mouhiyadin Ali Darar for Djibouti IT Talent</p>
      <div>
        <span> <ion-icon name="mail"></ion-icon>mouhyadinepro@gmail.com</span>
      </div>
      <div>
      <span><ion-icon name="globe"></ion-icon>www.techindjib.com</span>
    </div>
    </ion-card>
    
</ion-content>
